<div id="product-70" [ngClass]="product.post_classes">
	<span *ngIf="product.sale" class="onsale">Sale!</span>
	<div class="images">
		<a [attr.href]="product.thumbnail"  itemprop="image"
		   class="woocommerce-main-image zoom" title="" data-rel="prettyPhoto[product-gallery]">
			<img *ngIf="product.thumbnail" [attr.src]="product.thumbnail" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="{{product.title}} image"/>
		</a>
		<div *ngIf="product.thumbs" class="thumbnails columns-4" [innerHTML]="product.thumbs"></div>
	</div>

	<div class="summary entry-summary">

		<h1 itemprop="name" class="product_title entry-title">{{product.title}}</h1>

		<div class="woocommerce-product-rating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
			<div [innerHTML]="product.rating"></div>
		</div>

		<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
			<p class="price">
				<del *ngIf="product.delPrice > product.price" ><span [innerHTML]="product.delPrice" class="amount"></span></del>
				<ins><span [innerHTML]="product.price" class="amount"></span></ins>
			</p>
		</div>
		<div itemprop="description" [innerHTML]="product.content"></div>

		<div [innerHTML]="product.cartForm"></div>

		<div class="product_meta" [innerHTML]="product.meta"></div>
	</div><!-- .summary -->

	<div *ngIf="product.related" class="related products">
		<h2>Related Products</h2>
		<fs-product-archive [qry_args]="'post__in=' + product.related.join(',') + '&posts_per_page=3'"></fs-product-archive>
	</div><!-- .related.products -->

	<div *ngIf="product.related" class="related products">
		<h2>You may also like&hellip;</h2>
		<fs-product-archive [qry_args]="'post__in=' + product.upsells.join(',') + '&posts_per_page=3'"></fs-product-archive>
	</div><!-- .related.products -->
</div>
