<div *ngIf="product && product.ID" [attr.id]="'product-' + product.ID" [ngClass]="product.post_classes">
	<span *ngIf="product.sale" class="onsale">Sale!</span>
	<div class="images">
		<a [attr.href]="product.thumbnail"  itemprop="image"
		   class="woocommerce-main-image zoom" title="" data-rel="prettyPhoto[product-gallery]">
			<img *ngIf="product.thumbnail" [attr.src]="product.thumbnail" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="{{product.title}} image" width="100%"/>
		</a>
		<div *ngIf="product.thumbs" class="thumbnails columns-4" [innerHTML]="product.thumbs"></div>
	</div>

	<div class="summary entry-summary">

		<h1 itemprop="name" class="product_title entry-title">{{product.title}}</h1>

		<div class="woocommerce-product-rating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
			<div [innerHTML]="product.rating"></div>
		</div>

		<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
			<p class="price">
				<del *ngIf="product.delPrice > product.price" ><span [innerHTML]="product.delPrice" class="amount"></span></del>
				<ins><span [innerHTML]="product.price" class="amount"></span></ins>
			</p>
		</div>
		<div itemprop="description" *ngIf="product.content" [innerHTML]="product.content"></div>

		<div *ngIf="product.cartForm" [innerHTML]="product.cartForm"></div>

		<div *ngIf="product.meta" class="product_meta" [innerHTML]="product.meta"></div>
	</div><!-- .summary -->

	<div *ngIf="product.related" class="related products">
		<h2>Related Products</h2>
		<ul *ngIf="product.related && product.related[0].title" class="products">
			<li *ngFor="#p of product.related; #pi = index" [ngClass]="productClasses( p.post_classes, pi )">
				<a *ngIf="p.title" style="cursor: pointer;" (click)="openProduct(p)">
					<img *ngIf="p.thumbnail" [attr.src]="p.thumbnail" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="{{p.title}} image"/>
					<h3>{{p.title}}</h3>
					<div [innerHTML]="p.rating"></div>
					<div [innerHTML]="p.sale"></div>
			<span class="price">
				<del *ngIf="p.delPrice > p.price" ><span [innerHTML]="p.delPrice" class="amount"></span></del>
				<ins><span [innerHTML]="p.price" class="amount"></span></ins>
			</span>
				</a>
				<a *ngIf="p.title" rel="nofollow" href="?add-to-cart={{p.ID}}" data-quantity="1" [attr.data-product_id]="p.ID" data-product_sku=""
				   class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
			</li>
		</ul>
	</div><!-- .related.products -->

	<div *ngIf="product.upsells" class="related products">
		<h2>You may also like&hellip;</h2>
		<ul *ngIf="product.upsells && product.upsells[0].title" class="products">
			<li *ngFor="#p of product.upsells; #pi = index" [ngClass]="productClasses( p.post_classes, pi )">
				<a *ngIf="p.title" style="cursor: pointer;" (click)="openProduct(p)">
					<img *ngIf="p.thumbnail" [attr.src]="p.thumbnail" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="{{p.title}} image"/>
					<h3>{{p.title}}</h3>
					<div [innerHTML]="p.rating"></div>
					<div [innerHTML]="p.sale"></div>
			<span class="price">
				<del *ngIf="p.delPrice > p.price" ><span [innerHTML]="p.delPrice" class="amount"></span></del>
				<ins><span [innerHTML]="p.price" class="amount"></span></ins>
			</span>
				</a>
				<a *ngIf="p.title" rel="nofollow" href="?add-to-cart={{p.ID}}" data-quantity="1" [attr.data-product_id]="p.ID" data-product_sku=""
				   class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
			</li>
		</ul>
	</div><!-- .related.products -->
</div>
